
body{

}

.container{
    border:3px solid red;
    width: 20rem;
    height: 20rem;
    background-image: url(./img/resim-2.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: auto;
    color: yellow;
    opacity: 0.5;
}

